.groups-menu {
  margin: 5px 0px;
}

.groups-search form {
  margin-bottom: 10px;
}

.groups-search label {
  text-transform: capitalize;
}


.group-actions form{
  display: inline-table;
}

.group-members {
  margin-top: 5px;
}

.group-teaser .logo {
  float: left;
  margin: 0px 10px 5px 0px;
}

.group-content {
  display: table;
}

.group-actions {
  margin-top: 8px;
}

.member-avatar img {
  float: left;
  margin: 0px 8px 3px 0px;
}

.member-username {
  font-weight: bold;
}

.member-name {

}