/* session */

body.post.findOne h1,
body.post.find h1 {
  display: none;
}

body.post.findOne .post-teaser {
  padding-top: 15px;
}

/* post teaser*/

.post-teaser {
  padding: 8px;
  margin: 0px 0px 15px 5px;
  background-color: #fff;
}

.highlighted {
  border-right: 3px solid red;
}

.post-body {
  font-size: 1.2em;
  white-space: pre-line;
}

/*.post-teaser .post-creator img {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}*/

.post-header,
.post-body {
  margin-bottom: 5px;
}

.post-creator img {
  vertical-align: top;
  float: left;
  margin: 0px 8px 3px 0px;
}

.post-creator {
  min-height: 50px;
}

.post-actions {
  margin: 10px 0px 15px;

}

.post-actions form {
  display: inline-table;
}

/* posts */
.posts > .post-teaser {
  box-shadow: 2px 1px 2px 2px #ccc;
  padding: 10px;
}

.post-search {
  margin-bottom: 10px;
}

