

/* sharebox */
#sharebox-label {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0px 15px;
}


#sharebox {
  border: 1px dashed #ccc;
  margin: 3px 0 10px;
  padding: 10px;
}

.sharebox-area #sharebox-label,
.sharebox-area.open #sharebox {
  display: block;
}

.sharebox-area #sharebox,
.sharebox-area.open #sharebox-label {
  display: none;
}

#sharebox #accordion-createdAt-and-updatedAt,
#sharebox #accordion-post-setAlias {
  display: none;
}
