/* session */

body.post.findOne h1,
body.post.find h1 {
  display: none;
}

body.post.findOne .post-teaser {
  padding-top: 15px;
}


/* sharebox */
#sharebox-label {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0px 15px;
}


#sharebox {
  border: 1px dashed #ccc;
  margin: 3px 0 10px;
  padding: 10px;
}

.sharebox-area #sharebox-label,
.sharebox-area.open #sharebox {
  display: block;
}

.sharebox-area #sharebox,
.sharebox-area.open #sharebox-label {
  display: none;
}

#sharebox #accordion-createdAt-and-updatedAt,
#sharebox #accordion-post-setAlias {
  display: none;
}

/* post teaser*/

.post-teaser {,
  padding: 5px 0px;
  margin-left: 58px;
}

.highlighted {
  border-right: 3px solid red;
}

.post-body {
  font-size: 1.2em;
}

.post-teaser .post-creator img {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}

.post-actions {
  margin: 10px 0px 15px;

}

.post-actions form {
  display: inline-table;
}

/* posts */
.posts {
  border: 1px solid #aca;
  padding: 10px;
}


.group-actions form{
  display: inline-table;
}

.group-members {
  margin-top: 5px;
}